@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes colorChange {
  0% {
    color: #ff5733;
  }
  25% {
    color: #33ff57;
  }
  50% {
    color: #5733ff;
  }
  75% {
    color: #ff5733;
  }
  100% {
    color: #33ff57;
  }
}

@keyframes heartDrop {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  text-align: center;
  margin-top: 50px;
}

.heading {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
}

.button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.message {
  font-size: 36px;
  margin-top: 20px;
  display: inline-block;
}

.animated-letter {
  animation: drop 3s ease-out, colorChange 3s linear;
  animation-fill-mode: both;
  display: inline-block;
}

.heartIcon {
  font-size: 36px;
  color: red;
  margin-left: 5px;
  animation: heartDrop 3s ease-out;
}

.question {
  margin-top: 20px;
}

.love-form {
  margin-top: 20px;
}

.submission-message {
  color: green;
  font-weight: bold;
  margin-top: 20px;
}
